<mat-sidenav-container class="shell">
  <mat-sidenav #drawer class="sidenav" mode="side" opened>
    <div class="brand">Edu FR</div>
    <mat-nav-list>
      @for (item of nav; track item.path) {
        <a
          mat-list-item
          [routerLink]="item.path"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: item.path === '/dashboard' }"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-topbar (menuClick)="onMenuClick()" />
    <main class="content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
